form > button {
    margin-top: 2em;
}

form > input[type=password] {
    margin-top: 1em;
}

.wrappers {
    background-color: rgb(97, 132, 162);
    width: 500px;
}

#root {
    width: 50%;
    height: 50%;
}

